body {
    font-family:tahoma, geneva, sans-serif;
    margin: auto;
    padding: 0 30px 0 30px;
}

a {
    text-decoration: none;
    color: orange;
}

header {
    height: 40px;
    background-color: grey;
    margin-bottom: 20px;
}

nav li {
    margin: 0;
}

nav li {
    list-style: none;
    float: left;
    margin-right: .5em;
}

#resume {
    width: 26%;
}

#resume > aside:nth-child(2) p {
    margin: .2em;
}

aside {
    background-color: #808080;
    font-size: 0.8em;
    text-align: justify;
    padding: 10px 20px 10px 20px;
    color: #f5f5f5;
    margin-bottom: .5em;
}

aside h2 {
    margin-top : 0;
}

article {
    width: 70%;
    border: solid 1px grey;
    float: right;
    padding: 0 20px 20px 20px;
    text-align: justify;
    display: none;
    height: 595px;
}

article.visible {
    display: block;
}

article h2 {
    text-align: center;
}

article h3 + ul li, article h4 + ul li {
    list-style: none;
    float: left;
    margin-right: .5em;
    padding: .2em .5em;
    margin-bottom: .3em;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-size: .8em;
}

article h3 + ul, article h4 + ul {
    padding: 0;
    margin: 0;
}

#coaching {
    cursor: pointer;
}

article h4 {
    cursor: pointer;
    margin: 1em 0 .5em 0;
}

.clear {
    clear: both;
}