body {
    font-family:tahoma, geneva, sans-serif;
    margin: auto;
    padding: 0;
    background-color: grey;
}

a {
    text-decoration: none;
    color: orange;
}

header {
    background-color: dimgrey;
    padding: .5em;
    color: #f5f5f5;
    margin-bottom: 30px;
}

header h1 {
    margin: 0 0 .2em 32px;
    font-size: 1.5em;
}

header span {
    font-size: 1.1em;
    color: #444444;
}

header > span:nth-child(3) {
    padding-left: 32px;
}

header > span:nth-child(4) {
    font-size: .9em;
}

header a {
    display: block;
    font-size: .7em;
    font-weight: bold;
    padding-left: 32px;
}

header nav {
    margin-top: 1em;
    margin-right: 65px;
    float: right;
}

header nav li {
    list-style: none;
    float: left;
    padding: 1em;
    margin-bottom: .3em;
    background-color: #6a6a6a;
    font-size: .8em;
    cursor: pointer;
    border: 2px solid #6a6a6a;
}

header nav li:hover {
    border: 2px solid #daa520;
    border-radius: 2px;
    font-style: italic;
}

header nav li.selected {
    border-radius: 2px;

    border: 2px solid #daa520;
    background-color: #daa520;
    color: #6a6a6a;
    font-weight: bold;
}

#resume {
    width: 27%;
    margin-top: 45px;
}

#resume > aside:nth-child(2) p {
    margin: .2em;
}

#resume aside {
    background-color: #808080;
    font-size: 0.8em;
    text-align: justify;
    padding: 10px 20px 10px 40px;
    color: #f5f5f5;
    margin-bottom: 0;
}

#resume aside h2 {
    margin-top : 0;
}

article {
    margin-left: 0;
    width: 68%;
    float: right;
    padding: 0;
    margin-right: 40px;
    text-align: justify;
    display: none;
}

article.visible {
    display: block;
}

article section {
    padding: 0 20px 20px 20px;
}

article h2 {
    text-align: center;
    background-color: dimgrey;
    padding: .6em;
    margin: 0;
    color: #f5f5f5;
}

article h3 + ul li, article h4 + ul li {
    list-style: none;
    float: left;
    margin-right: .5em;
    padding: .2em .5em;
    margin-bottom: .3em;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-size: .8em;
    cursor: pointer;
}

article h3 + ul, article h4 + ul {
    padding: 0;
    margin: 0;
}

article h4 {
    margin: 1em 0 .5em 0;
}

#competences {
    overflow-y: scroll;
    overflow-x: hidden;
}

.compDiv {
    font-size: .6em;
    width: 350px;
    height: 60px;
    padding: 10px;
    text-align: left;
    border: 1px solid #daa520;
    border-radius: 2px;
    background-color: #eeeeee;
}

.compDiv ul {
    margin: 0;
    padding: 0 .5em;
}

.compDiv li {
    list-style: none;
    margin-top: .5em;
}

.compDiv li:first-child {
    margin-top: 0;
}

.compDiv p {
    margin: .3em;
}

.check {
    border: 1px solid #daa520;
    border-radius: 2px;
}

.clear {
    clear: both;
}